@using Microsoft.AspNet.Identity
@model IEnumerable<LOTR.Domain.Comment>

@{
    ViewBag.Title = "Index";
}


<body>
@Html.Partial("content")
<div id="tab" style="display:none">
    @Html.Partial("_footer")
</div>


<table class="table " style="width: 820px; margin: 50px auto auto;
                                     ">
    <tr>
        <th colspan="3">
            <div class="but">
                <button style="background-color:#404040; color:green
                
                ; border-color:blueviolet; " onclick="myFunction2()">
                    Write a comment
                </button>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Add comment", "Create", null, new {id = "tab2", style = "display:none"})
            }
            else
            {
                @Html.ActionLink("Login to write a comment", "Login", "Account")
                ;
            }
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td style="color: green">
                @Html.DisplayFor(modelItem => item.CommentAuthor)

            </td>
            <td width="140px">
                @Html.DisplayFor(modelItem => item.DateTime)

            </td>
            <td width="90px">
                @if (User.Identity.GetUserId() == item.User.Id)
                {
                    @Html.ActionLink("  Edit/ ", "Edit", new {id = item.Id})
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id}, new {style = "color:red"})
                }
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <br/>

                @Html.DisplayFor(modelItem => item.CommentText)
                <br/>
                <br/>
                <hr style="border: 1px solid green;"/>

            </td>
            <td width="90px">

            </td>
        </tr>
    }

</table>